@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    
}

/*NAV*/

.navbar{
    position: fixed;
    padding: 25px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: rgba(34,45,90, 0.9);
    backdrop-filter: blur(8px);
    box-shadow: 0px 5px 30px 0px rgba(0,0,0,0.7);
    box-sizing: border-box;
    align-items: center;
    z-index: 9999;
}

.navbar a {
    color: rgba(255,255,255, 0.8);
}

.navbar .logo {
    font-size: 18pt;
    font-weight: 600;
}

.navbar .navlinks{
    display: flex;
    align-items: center;
}

.navbar .navlinks ul{
    display: flex;
}

.navbar .navlinks ul li{
    margin: 0 25px;
}

.navbar .navlinks ul li.onthis a{
    color: white;
    font-weight: 600;
}

nav li a:hover{
    color: rgba(255,255,255,1);
    transition: all 0.3s ease 0s;
}

#logo{
    margin-left: 4px;
    width: 22px;
    height: 22px;
    cursor: pointer;
    
}

#textlogo{
    color: white;
    padding-left: 5px;
    font-size: 18pt;
    font-weight: 600;
}
#textousuarionav{
    margin-right: 10px;
    color: white;
}

.usuarionav{
    display: inline-block;
}




/*MAIN*/
article {
    display: flex;
    flex-wrap: wrap;
    background-color: #f4f2ee;
    padding-top: 100px;
    margin: 0 auto;
}
.articlefoto{
    padding-top: 0px;
}
.titulosection{
    text-align: center;
    position: relative;
    top: 200px;
    color: white;
    font-size: 24pt;
    font-weight: bold;
}

.section100 {
    width: 100%;
    height: 100vh;
}
.section100imgindex {
    width: 100%;
    height: 400px;
    background: url('../Assets/img/coche.jpg') center center no-repeat;
    background-size: cover;
}
.section100imgtests {
    width: 100%;
    height: 400px;
    background: url('../Assets/img/coche2.jpg') center center no-repeat;
    background-size: cover;
}
.section100imgadmin {
    width: 100%;
    height: 400px;
    background: url('../Assets/img/administrador.jpg') center center no-repeat;
    background-size: cover;
}

.section100imgexamenes {
    width: 100%;
    height: 400px;
    background: url('../Assets/img/autoescuela.jpg') center center no-repeat;
    background-size: cover;
}

.section100img404 {
    width: 100%;
    height: 400px;
    background: url('../Assets/img/404.jpg') center center no-repeat;
    background-size: cover;
}

.section100admin {
    width: 100%;
    height: auto;
    margin: 20px;
    
}

.section100404 {
    width: 100%;
    height: 600px;
    margin: 20px;
    
}

.section100admin2 {
    width: 100%;
    height: 15em;

    
}

.section100mensaje {
    font-weight: 600;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 100%;
    height: 5em;
    background-color: #FFFFFF;
    display: flex;
    
}
.section100mensaje p{
    margin-left: 20px;
}
#botonmensaje{
    margin-left: 20px;
}

.section50 {
    height: 100vh;
    width: 50%;
}

.centrarinicio{
    text-align: center;
    justify-content: center;
}

.bodylogin {
    background-color: #f4f2ee;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    
}
.bodyregister {
    padding-top: 100px;
    background-color: #f4f2ee;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    
}


.loginregister-form {
    text-align: center;
    background-color: #fff; 
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); 
    margin: 0 auto; 
}



.input-field {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc; 
    border-radius: 8px; 
}


.submit-button {
    background-color: rgba(34,45,90, 1);
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 10px;
    font-size: 16px; 
    transition: background-color 0.3s;
}


.submit-button:hover {
    background-color: rgb(0, 0, 0);
}


.tablaadmin{
    text-align: center;
    background-color: #fff; 
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
    margin: 0 auto;
    width: auto;

}
.admininputs{
    width: 100%;
    border: none;
    border-radius: 8px;
    text-align: center;
}
table th{
    padding: 15px;
    border-radius: 8px;
    border-bottom: 2px solid rgba(34,45,90, 1);
    
}

table td{
    padding: 10px;
    border-radius: 8px;
    background-color: #f4f2ee;
    font-weight: 600;
    color: rgba(34,45,90, 1);
}

#btnusuarios{
    color: white;
    font-weight: 600;
    border-style: none;
    border-radius: 8px;
    background-color: rgba(34,45,90, 1);
    padding: 10px;

}
#btnusuarios:hover{
    font-weight: 600;
    border-style: none;
    border-radius: 8px;
    background-color: #007cb0;
    padding: 10px;
    transition: all 0.3s ease;

}

.btneditar{
    color: rgb(0, 255, 0);
    font-weight: bold;
    width: 50%;
    border-style: none;
    border-radius: 8px;
    background-color: rgba(34,45,90, 1);
    padding: 10px;
    margin: 5px;

}
.btneditar:hover{
    font-weight: bold;
    border-style: none;
    border-radius: 8px;
    background-color: #007cb0;
    padding: 10px;
    transition: all 0.3s ease;

}

.btnborrar{
    width: 50%;
    color: rgb(255, 0, 0);
    font-weight: bold;
    border-style: none;
    border-radius: 8px;
    background-color: rgba(34,45,90, 1);
    padding: 10px;
    margin-top: 10px;
    margin: 5px;

}
.btnborrar:hover{
    font-weight: bold;
    border-style: none;
    border-radius: 8px;
    background-color: #007cb0;
    padding: 10px;
    transition: all 0.3s ease;

}

#dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    border-radius: 8px;
    display: none;
    position: absolute;
    background-color: rgba(34,45,90, 0.7);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.6);
    padding: 12px 16px;
    z-index: 1;
}

#dropdown:hover .dropdown-content {
    display: block;
}


.btnanadirusuario{
    color: white;
    font-weight: 600;
    border-style: none;
    border-radius: 8px;
    background-color: rgba(34,45,90, 1);
    padding: 10px;

}
.btnanadirusuario:hover{
    font-weight: 600;
    border-style: none;
    border-radius: 8px;
    background-color: #007cb0;
    padding: 10px;
    transition: all 0.3s ease;

}
#btnlogout{
    color: white;
    font-weight: 600;
    border-style: none;
    border-radius: 8px;
    background-color: #007cb0;    
    padding: 6px;

}

#btnlogout:hover{
    background-color: black;
    transition: all 0.3s ease;

}

#btnlogin{
    color: white;
    font-weight: 600;
    border-style: none;
    border-radius: 8px;
    background-color: #007cb0;    
    padding: 6px;

}

#btnlogin:hover{
    background-color: black;
    transition: all 0.3s ease;

}

#btnexam{
    color: white;
    font-weight: 600;
    border-style: none;
    border-radius: 8px;
    background-color: rgba(34,45,90, 1);  
    padding: 6px;

}

#btnexam:hover{
    background-color: black;
    transition: all 0.3s ease;

}

#btnregister{
    color: white;
    font-weight: 600;
    border-style: none;
    border-radius: 8px;
    background-color: rgba(34,45,90, 1);
    padding: 8px;

}

#btnregister:hover{
    background-color: black;
    transition: all 0.3s ease;

}

.sub-submit{
    padding-top: 10px;
}

.sub-submit a{
    color: rgba(34,45,90, 1);
}

.checkbox{
    margin-top: 10px;
    margin-bottom: 10px;

}

.texto404{
    font-weight: bold;
    text-align: center;
    margin-top: 200px;
    font-size: 24pt;
}


.contenedorcarrousel {
    width: 100%;
    height: 300px;
    overflow: hidden;
  }

  .carrousel {
    display: flex;
    transition: transform 1s ease-in-out;
    height: 100%;
  }

  .elementocarrousel {
    min-width: 100%;
    box-sizing: border-box;
  }

  .elementocarrousel img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(100%) contrast(80%) grayscale(30%);
  }

/*FOOTER */

footer{
    width: 100%;
    position: absolute;
    
}
.footerdiv{
    box-shadow: 0px 5px 30px 0px rgba(0,0,0,0.7);
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #191e28;
}
.footerdiv .footerbottom{
    padding-top: 15px;
    padding-bottom: 15px;
    
}
.footerdiv .redes{
    text-align: center;
    padding-bottom: 25px;
    color: black;
}
.footerdiv .redes a{
    background-color: white;
    font-size: 20px;
    color: inherit;
    width: 40px;
    height: 40px;
    line-height: 38px;
    display: inline-block;
    text-align: center;
    border-radius: 8px;
    margin: 0 4px;
    opacity: 0.9;
}
.footerdiv .redes a:hover{
    transition: all 0.3s ease;
    color: #007cb0;
    background-color: black;
    opacity: 1;
}
.footerdiv ul{
    margin-top: 0;
    padding: 0;
    list-style: none;
    font-size: 18px;
    line-height: 1.6;
    text-align: center;
    margin-bottom: 0;
}
.footerdiv ul li a{
    color: rgba(255,255,255,0.8);
    
}
.footerdiv ul li{
    display: inline-block;
    padding: 0 15px;
}
.footerdiv ul li a:hover{
    color: rgba(255,255,255,1);
    transition: all 0.3s ease 0s;
}
.footerdiv ul li a:active{
    color: rgba(255,255,255,1);
}
.footerdiv ul li.onthis a{
    color: #007cb0;
    font-weight: 600;
}
.footerbottom{
    font-weight: 600;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: black;
    color: #f3f2ee;
    text-align: center;
}
.footerbottom p{
    margin-left: 20px;
    margin-right: 20px;
}

#logofooter{
    width: 15px;
    height: 15px;
}

